<div>
  <header>
    <h1>Autores</h1>
    <!-- TODO: Fazer o filtro -->
  </header>
  <div class="container-table">
    <table class="table-artech">
      <thead>
        <tr>
          <th>Autor</th>
          <th>Quantidade de Artigos</th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody>
        @for (data of dataSource; track $index) {

        <tr>
          <td style="padding-left: 1rem">
            <app-profile
              [disabledActions]="true"
              [logout]="false"
              [keepAvatar]="true"
              [userData]="{
                name: data.name,
                email: data.email,
                urlAvatar: data.urlAvatar,
                role: ''
              }"
              direction="left"
            />
          </td>
          <td>
            {{
              data.quantitiesArticles <= 1
                ? data.quantitiesArticles + " Artigo"
                : data.quantitiesArticles + " Artigos"
            }}
          </td>
          <td class="action">
            <app-button
              [size]="'xs'"
              icon="trash"
              [style]="'error'"
              (click)="deleteAuthor(data.email)"
            >
              Excluir
            </app-button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if (dataSource.length > 0) {
  <app-paginator
    [tablePageData]="dataServer"
    (paginate)="onChangePage($event)"
  />
  }
</div>
