button {
  border-radius: 0.25rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.15s;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;


}

.btn-md {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  &:active {
    transform: scale(1.035);
  }
}

.btn-sm {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  gap: .75rem;
  font-weight: 400;
  &:active {
    transform: scale(1.025);
  }
}


.btn-xs {
  padding: 0.35rem .75rem;
  font-size: .75rem;
  gap: .35rem;
  font-weight: 500;
  &:active {
    transform: scale(1.015);
  }
}

.primary {
  background: var(--purple-500);
  color: white;

  &:hover {
    background: var(--purple-700);
  }
  &:active {
    box-shadow: 0px 0px 10px var(--purple-700);
  }
}


.secondary {
  background: var(--purple-300);
  color: white;

  &:hover {
    background: var(--purple-500);
  }
  &:active {
    box-shadow: 0px 0px 10px var(--purple-500);
  }
}

.active {
  background: var(--green-300);
  color: white;

  &:hover {
    background: var(--green-500);
  }
  &:active {
    box-shadow: 0px 0px 10px var(--green-500);
  }
}


:host {
  ::ng-deep {
    .btn-sm {
      svg {
        width: 1rem;
        height: auto;
      }
    }
    .btn-xs {
      svg {
        width: .75rem;
        height: auto;
      }
    }
  }
}
