<label>Texto</label>
<div class="container-editor">
  <div class="toolbar">
    <button
      [class.active]="formattingStates.bold"
      (click)="applyFormat($event, 'bold')"
    >
      <b>B</b>
    </button>
    <button
      [class.active]="formattingStates.italic"
      (click)="applyFormat($event, 'italic')"
    >
      <i>I</i>
    </button>
    <button
      [class.active]="formattingStates.underline"
      (click)="applyFormat($event, 'underline')"
    >
      <u>U</u>
    </button>
    <button
      [class.active]="headingStates.heading === 'h1'"
      (click)="applyHeading($event, 'h1')"
    >
      H1
    </button>
    <button
      [class.active]="headingStates.heading === 'h2'"
      (click)="applyHeading($event, 'h2')"
    >
      H2
    </button>
    <button
      [class.active]="headingStates.heading === 'h3'"
      (click)="applyHeading($event, 'h3')"
    >
      H3
    </button>
    <button
      [class.active]="headingStates.heading === 'h4'"
      (click)="applyHeading($event, 'h4')"
    >
      H4
    </button>
    <button
      [class.active]="headingStates.heading === 'h5'"
      (click)="applyHeading($event, 'h5')"
    >
      H5
    </button>
    <button
      [class.active]="headingStates.heading === 'h6'"
      (click)="applyHeading($event, 'h6')"
    >
      H6
    </button>
    <div class="container-link-format">
      <button
        (click)="openLinkFormat($event)"
        class="btn-link"
        [class.active]="formattingStates.link"
      >
        <app-svg name="link" />
      </button>
      @if (toggleLinkFormatter) {

      <div class="link-format" #linkFormatterRef>
        <div>
          <input
            type="text"
            [value]="textLinkSelected"
            placeholder="Insira o texto"
            (click)="handleInputLinkDisabled($event)"
            #inputLinkTextRef
          />
          <input
            type="text"
            [value]="hrefLinkSelected"
            placeholder="Insira o link"
            (mousedown)="clickDownSetLink($event)"
            #inputLinkHrefRef
          />
        </div>
        <app-button
          [size]="'xs'"
          [style]="'tertiary'"
          (click)="removeLink($event)"
        >
          Remover
        </app-button>
        <app-button
          [size]="'xs'"
          [style]="'primary'"
          (click)="createLink($event)"
        >
          Aplicar
        </app-button>
      </div>
      <div class="wrapper-link-format"></div>
      }
    </div>
    <button
      [class.active]="formattingStates.ul && !formattingStates.ol"
      (click)="applyUnorderedList($event)"
    >
      <app-svg name="unordered-list" />
    </button>
    <button
      [class.active]="!formattingStates.ul && formattingStates.ol"
      (click)="applyOrderedList($event)"
    >
      <app-svg name="ordered-list" />
    </button>
    <button
      [class.active]="formattingStates.code"
      (click)="applyCode($event)"
    >
      <app-svg name="code" />
    </button>
  </div>

  <div
    class="editor"
    contenteditable="true"
    #editorRef
    (input)="onInput()"
    (mouseup)="handleSelection($event)"
    (keyup)="handleKeyUp($event)"
  ></div>
</div>
