.container-link {
  padding: 1.5rem 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  .link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: var(--dark-purple-800);
    border-radius: 0.25rem;
    padding: 6px;
    font-size: 12px;
    font-weight: 600;

    color: var(--blue-300);
    a {
      text-decoration: underline;
      color: var(--purple-500);
    }

    app-svg {
      transform: rotate(45deg);
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        transform: rotate(45deg) scale(1.1);
      }
    }
  }
}

.container-span-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  max-width: 26rem;
  min-width: 14rem;

  span {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    color: var(--dark-purple-700);
  }
}

.container-form {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  justify-content: space-between;
    flex-wrap: wrap;

  @media (max-width: 764px) {
    flex-wrap: wrap;
  }
}

div.container-label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

div.container-input {
  display: flex;
  align-items: center;
  position: relative;
  app-svg {
    position: absolute;
  }
}

app-svg.add {
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: rotate(90deg);
  }
}

div.normal {
  label {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-purple-400);
  }
  input {
    background-color: var(--dark-purple-900);
    border: 0.25px solid var(--purple-500);
    border-radius: 0.25rem;
    color: var(--dark-purple-100);
    outline: none;
  }

  &.input-md {
    label {
      font-size: 1.25rem;
    }

    input {
      min-height: 42.8px;
    }

    input::placeholder {
      color: var(--dark-purple-400);
    }
    input:focus {
      outline: 1.5px solid var(--purple-700);
    }
    input {
      padding: 0.75rem 0.875rem;
      font-size: 1rem;
      gap: 0.75rem;
    }

    :host {
      ::ng-deep {
        svg {
          height: 1.25rem;
          width: 1.25rem;
        }
      }
    }
  }

  &.input-sm {
    label {
      font-size: 1rem;
    }

    input {
      padding: 0.5rem 0.75rem;
      font-size: 0.875rem;
      gap: 0.5rem;
    }

    :host {
      ::ng-deep {
        svg {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}

div.alternative {
  label {
    font-style: "Poppins", sans-serif;
    font-weight: 800;
    color: var(--dark-purple-400);
  }
  input {
    font-family: "Ubuntu", sans-serif;
  }

  input::placeholder {
    color: var(--dark-purple-400);
  }
  input:focus {
    outline: 1.5px solid var(--purple-700);
    border: 0.25px solid var(--purple-500);
    color: var(--dark-purple-100);
  }

  input {
    background-color: var(--dark-purple-800);
    border: none;
    border-radius: 0.25rem;
    outline: none;
    color: var(--dark-purple-100);
    width: 100%;
    cursor: pointer;
  }

  &.input-md {
    label {
      font-size: 1rem;
    }

    input {
      font-size: 1rem;
      gap: 0.75rem;
      padding: 0.75rem 0.875rem 0.75rem 2.25rem;
    }

    app-svg.text-svg {
      left: 0.875rem;
    }

    :host {
      ::ng-deep {
        svg {
          height: 1.25rem;
          width: 1.25rem;
        }
      }
    }
  }

  &.input-sm {
    label {
      font-size: 0.875rem;
    }

    input {
      font-size: 0.875rem;
      gap: 0.5rem;
      padding: 0.5rem 0.75rem 0.5rem 2rem;
    }

    app-svg.text-svg {
      left: 0.75rem;
    }

    :host {
      ::ng-deep {
        svg {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}

input {
  cursor: initial !important;
}

:host {
  ::ng-deep {
    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
    path {
      fill: var(--dark-purple-400);
    }

    app-svg.text-svg svg {
      height: 16px;
      width: 16px;
    }

    span.link svg {
      height: 12px;
      width: 12px;
    }

    app-svg.add svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
