.container-profile {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.container-profile.left {
  .container-info {
    order: 2;
  }
  .border-external{
    order: 1;
  }
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .25rem;
  .author-name {
    font-size: 1rem;
    color: var(--dark-purple-300);
  }
  .author-email {
    font-size: .75rem;
    color: var(--purple-300);
  }
}

.border-external{
  border-radius: 1000px;
  border: 2px solid var(--dark-purple-600);
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  cursor: pointer;
}

.border-external.active{
  border: 2.5px solid var(--purple-300);
}

.border-internal{
  border-radius: 1000px;
}

.border-internal.without-image{
  padding: .65rem;
}

img {
  width: 100%;
  height: auto;
}
