<div class="container-profile {{ direction }}">
  <div class="container-info">
    @if (userData) {
    <p class="author-name">{{ userData.name }}</p>
    <span class="author-email">{{ userData.email }}</span>
    }
  </div>
  <div class="border-external active">
    @if (userData && userData.urlAvatar) {
    <div class="border-internal">
      <img [src]="userData.urlAvatar" alt="" srcset="" />
    </div>

    } @else {
    <div class="border-internal without-image">
      <img src="/svg/person.svg" alt="" srcset="" />
    </div>

    }
  </div>
</div>
