main {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.container-form {
  display: grid;
  place-content: center;
  padding: 4rem;
  background-color: var(--dark-purple-900);
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25rem;
}

app-button {
  margin-top: 1rem;
}
