<header class="container">
  <div>
    <div class="nav-container">
      <img src="/logo.svg" alt="" />
      <nav>
        <div class="nav-item active">
          <a href="" routerLink="/">Artigos</a>
        </div>
        <div class="nav-item">
          <a href="">Criar</a>
        </div>
      </nav>
    </div>
    <div class="profile-container">
      <app-profile />
    </div>
  </div>
</header>
<main class="container">
  <form class="form-article">
    <div class="head-buttons">
      <app-button [size]="'sm'" [style]="'tertiary'" (click)="sendArticleDraft($event)"> Rascunho </app-button>
      <app-button [size]="'sm'" [style]="'primary'" (click)="publishArticle($event)"> Salvar </app-button>
    </div>
    <app-input-text label="Título" [style]="'alternative'" (value)="getValue($event, 'title')"/>
    <app-input-text label="Subtitulo" [style]="'alternative'" (value)="getValue($event, 'subtitle')"/>
    <app-input-text label="Imagem" [style]="'alternative'" type="file" (value)="getValue($event, 'imageBlob')"/>
    <app-textarea-editor [style]="'alternative'" type="textarea" (value)="getValue($event, 'text')"/>
    <app-input-select label="Category" [style]="'alternative'" [options]="categoriesList" (value)="getValue($event, 'category')"/>
    <app-input-add label="Tags" [style]="'alternative'" (value)="getValue($event, 'tags')"/>
    <app-input-link label="Creditos" [style]="'alternative'"  (value)="getValue($event, 'credits')"/>
  </form>
</main>
