<header class="container">
  <div>
    <div class="nav-container">
      <img src="/logo.svg" alt="" />
      <nav>
        <div class="nav-item">
          <a routerLink="/">Artigos</a>
        </div>
        <div class="nav-item active">
          @if (isCreateRoute) {
          <a routerLink="/article/create"> Criar </a>
          } @else {
          <a [routerLink]="'/article/' + slug + '/edit'"> Editar </a>
          }
        </div>
        @if (userData && userData.role === "Admin") {
          <div class="nav-item">
            <a routerLink="/admin/add-author">Adicionar autor</a>
          </div>
        }
      </nav>
    </div>
    <div class="profile-container">
      <app-profile />
    </div>
  </div>
</header>
<main class="container">
  <ng-template #containerModals> </ng-template>
  <form class="form-article">
    <div class="head-buttons">
      <app-button
        [size]="'sm'"
        [style]="'tertiary'"
        (click)="sendArticleDraft($event)"
      >
        Rascunho
      </app-button>
      <app-button
        [size]="'sm'"
        [style]="'primary'"
        (click)="publishArticle($event)"
        [disabled]="!isActivable"
      >
        Salvar
      </app-button>
    </div>
    <app-input-text
      label="Título"
      [style]="'alternative'"
      (onChange)="getValue($event, 'title')"
      [value]="articleForm.title"
    />
    <app-input-text
      label="Subtitulo"
      [style]="'alternative'"
      (onChange)="getValue($event, 'subtitle')"
      [value]="articleForm.subtitle"
    />
    <app-input-image
      label="Imagem"
      [style]="'alternative'"
      (onChange)="getValue($event, 'imageBlob')"
      [value]="articleForm.imageBlob"
    />
    <app-textarea-editor
      [style]="'alternative'"
      (onChange)="getValue($event, 'text')"
      [value]="articleForm.text"
    />
    <app-input-select
      label="Category"
      [style]="'alternative'"
      [options]="categoriesList"
      (onChange)="getValue($event, 'category')"
      [value]="articleForm.category"
    />
    <app-input-add
      label="Tags"
      [style]="'alternative'"
      (onChange)="getValue($event, 'tags')"
      [value]="articleForm.tags"
    />
    <app-input-link
      label="Creditos"
      [style]="'alternative'"
      (onChange)="getValue($event, 'credits')"
      [value]="articleForm.credits"
    />
  </form>
</main>
