div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.normal {
  label {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-purple-400);
  }
}

div.alternative {
  label {
    font-style: "Poppins", sans-serif;
    font-weight: 800;
    color: var(--dark-purple-400);
  }
}

div.type-file {
  /* Esconde o input */
  input[type="file"] {
    display: none;
  }
  &.alternative {
    label {
      background-color: var(--dark-purple-800);
      border: none;
      border-radius: 0.25rem;
      outline: none;
      cursor: pointer;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    span {
      font-style: "Poppins", sans-serif;
      font-weight: 800;
      color: var(--dark-purple-400);
    }
  }
}
