.bg-dialog {
  background: #252525af;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 30;
}

.dialog {
  background: var(--dark-purple-900);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--purple-500);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  min-width: 280px;
  width: 100%;
  max-width: 500px;
}

header h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.dialog-body {
  margin-bottom: 1.5rem;
  p {
    color: var(--dark-purple-100);
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
