header {
  margin-bottom: 5rem;

  > div {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    img {
      height: auto;
      width: 12rem;
    }
  }

  .nav-container {
    display: flex;
    gap: 3rem;

    @media (min-width: 992px) {
      gap: 4rem;
    }
    @media (min-width: 1180px) {
      gap: 6rem;
    }

    nav {
      height: 100%;
      display: flex;
      gap: 1.5rem;
      align-items: center;
    }

    .nav-item {
      height: 100%;
      display: flex;
      align-items: center;

      &.active {
        border-bottom: 2px solid;
        color: var(--purple-500);
        a {
          color: var(--dark-purple-100);
        }
      }
    }

    a {
      color: var(--dark-purple-300);
      font-weight: 400;
      &:hover {
        color: var(--dark-purple-100);
      }
    }
  }

  .profile-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .menu {
    display: none;
  }

  @media (max-width: 900px) {
    margin-bottom: 2rem;
    > div img {
      display: none;
    }

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

main {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.icon-nav {
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  .return-menu,
  .bg-aside,
  .profile {
    display: none;
  }

  h5 {
    font-size: 0.875rem;
    color: var(--dark-purple-400);
  }

  .aside-container-nav {
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li a {
      display: flex;
      cursor: pointer;
      gap: 1rem;
      align-items: center;
      color: var(--dark-purple-200);
      transition: 0.15s;

      &.active {
        color: var(--purple-300);
        font-weight: bold;
        path {
          fill: var(--purple-300);
        }
      }

      &:hover {
        transform: scale(1.005);
      }
    }
  }

  @media (max-width: 900px) {
    display: none;
    &.open {
      display: block;

      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background: var(--dark-purple-800);
      padding: 0rem 2rem 0;

      z-index: 15;

      .return-menu {
        display: flex;
        padding: 2rem 0;
        margin-bottom: 1rem;
        cursor: pointer;
      }
      .profile {
        display: block;
        margin-bottom: 2rem;
      }
    }
  }
}

.bg-aside {
  display: none;

  @media (max-width: 900px) {
    &.open {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background: #18191f79;
      width: 100vw;
      height: 100vh;
      z-index: 10;
    }
  }
}

.container-section-page {
  background-color: var(--dark-purple-900);
  border-radius: 0.75rem;
  padding: 3rem 2rem;
  flex-grow: 1;
  @media (max-width: 764px) {
    width: calc(100vw - 1.5rem);
  }
}

h5 {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

:host {
  ::ng-deep {
    .aside-container-nav {
      li a {
        &.active {
          color: var(--purple-300);
          font-weight: bold;
          path {
            fill: var(--purple-300);
          }
        }
      }

      @media (max-width: 400px) {
        app-svg svg {
          height: 1.75rem;
        }
      }
    }

    .menu,
    .return-menu {
      path {
        fill: var(--dark-purple-400);
      }
    }
  }
}
