<header class="container">
  <div>
    <div class="menu">
      <app-svg name="menu" (click)="toggleMenu(true)" />
    </div>
    <div class="nav-container">
      <img src="/logo.svg" alt="" />
      <nav>
        <div class="nav-item active">
          <a routerLink="/">Artigos</a>
        </div>
        <div class="nav-item">
          <a routerLink="/article/create">Criar</a>
        </div>

        @if (userData && userData.role === "Admin") {
        <div class="nav-item">
          <a routerLink="/admin/add-author">Adicionar autor</a>
        </div>
        }
      </nav>
    </div>
    <div class="profile-container">
      <app-profile />
    </div>
  </div>
</header>
<main class="container">
  <div class="bg-aside" [class.open]="menuIsOpen"></div>
  <aside [class.open]="menuIsOpen">
    <div class="return-menu">
      <app-svg name="arrow-left" (click)="toggleMenu(false)" />
    </div>
    <div class="profile">
      <app-profile [logout]="false" [keepAvatar]="true"/>
    </div>
    <section>
      <h5>Configurações</h5>
      <ul class="aside-container-nav">
        <li>
          <a
            href=""
            class=""
            routerLinkActive="active"
            routerLink="/articles/active"
            (click)="toggleMenu(false)"
          >
            <div class="icon-nav">
              <app-svg name="web" />
            </div>
            Publicados
          </a>
        </li>
        <li>
          <a
            href=""
            routerLinkActive="active"
            routerLink="/articles/draft"
            (click)="toggleMenu(false)"
          >
            <div class="icon-nav">
              <app-svg name="draw" />
            </div>
            Rascunhos
          </a>
        </li>
        <li>
          <a
            href=""
            routerLinkActive="active"
            routerLink="/articles/disabled"
            (click)="toggleMenu(false)"
          >
            <div class="icon-nav">
              <app-svg name="inactive" />
            </div>
            Desativados
          </a>
        </li>
      </ul>
    </section>
    <section>
      <h5>Gerenciar</h5>
      <ul class="aside-container-nav">
        <li>
          <a
            href=""
            routerLinkActive="active"
            routerLink="/manage/comment"
            (click)="toggleMenu(false)"
          >
            <div class="icon-nav">
              <app-svg name="comments" />
            </div>
            Comentários
          </a>
        </li>
        @if (userData && userData.role === "Admin") {
        <li>
          <a
            href=""
            routerLinkActive="active"
            routerLink="/admin/articles"
            (click)="toggleMenu(false)"
          >
            <div class="icon-nav">
              <app-svg name="article" />
            </div>
            Artigos
          </a>
        </li>
        <li>
          <a
            href=""
            routerLinkActive="active"
            routerLink="/admin/authors"
            (click)="toggleMenu(false)"
          >
            <div class="icon-nav">
              <app-svg name="authors" />
            </div>
            Autores
          </a>
        </li>
        }
      </ul>
    </section>
  </aside>
  <div>
    <!-- <app-modal-message /> -->
    <ng-template #containerModals> </ng-template>
    <section class="container-section-page">
      <router-outlet />
    </section>
  </div>
</main>
