<header class="container">
  <div>
    <div class="nav-container">
      <img src="/logo.svg" alt="" />
      <nav>
        <div class="nav-item active">
          <a href="" routerLink="/">Artigos</a>
        </div>
        <div class="nav-item">
          <a href="">Criar</a>
        </div>
      </nav>
    </div>
    <div class="profile-container">
      <app-profile />
    </div>
  </div>
</header>
<main class="container">
  <aside>
    <section>
      <h5>Configurações</h5>
      <ul class="aside-container-nav">
        <li>
          <a
            href=""
            class=""
            routerLinkActive="active"
            routerLink="/article/active"
          >
            <div class="icon-nav">
              <app-svg name="web" />
            </div>
            Publicados
          </a>
        </li>
        <li>
          <a href="" routerLinkActive="active" routerLink="/article/draft">
            <div class="icon-nav">
              <app-svg name="draw" />
            </div>
            Rascunhos
          </a>
        </li>
        <li>
          <a href="" routerLinkActive="active" routerLink="/article/disabled">
            <div class="icon-nav">
              <app-svg name="inactive" />
            </div>
            Desativados
          </a>
        </li>
      </ul>
    </section>
    <section>
      <h5>Gerenciar</h5>
      <ul class="aside-container-nav">
        <li>
          <a href="" routerLinkActive="active" routerLink="/manage/comment">
            <div class="icon-nav">
              <app-svg name="comments" />
            </div>
            Comentários
          </a>
        </li>
        @if (userData && userData.role === "Admin") {
        <li>
          <a href="" routerLinkActive="active" routerLink="/admin/articles">
            <div class="icon-nav">
              <app-svg name="article" />
            </div>
            Artigos
          </a>
        </li>
        <li>
          <a href="" routerLinkActive="active" routerLink="/admin/authors">
            <div class="icon-nav">
              <app-svg name="authors" />
            </div>
            Autores
          </a>
        </li>
        }
      </ul>
    </section>
  </aside>
  <div>
    <!-- <app-modal-error /> -->
     <ng-template #containerModals>

     </ng-template>
    <section class="container-section-page">
      <router-outlet />
    </section>
  </div>
</main>
