header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  h1 {
    font-size: 2rem;
    color: white;
    font-weight: 300;
  }

  @media (max-width: 500px) {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}

table {
  margin-bottom: 2rem;
}
