<div>
  <header>
    <h1>Rascunhos</h1>
    <app-button [size]="'sm'" icon="plus">Criar novo</app-button>
  </header>
  <table class="table-artech">
    <thead>
      <tr>
        <th>Título</th>
        <th>Categoria</th>
        <th class="action"></th>
      </tr>
    </thead>
    <tbody>
      @for (data of dataSource; track $index) {

      <tr>
        <td>{{ data.title }}</td>
        <td>{{ data.category }}</td>
        <td class="action">
          <app-button [size]="'xs'" icon="pencil" [style]="'secondary'">
            Editar
          </app-button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <app-paginator
    [tablePageData]="dadosServer"
    (paginate)="onChangePage($event)"
  />
</div>
