/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple-900: #18191f;
  --dark-purple-800: #1e2027;
  --dark-purple-700: #404451;
  --dark-purple-600: #444755;
  --dark-purple-500: #4a4e5d;
  --dark-purple-400: #63687b;
  --dark-purple-300: #919ab7;
  --dark-purple-200: #aeb8d6;
  --dark-purple-100: #d0dafa;

  --purple-700: #4643f0;
  --purple-500: #5653f4;
  --purple-300: #9d9bf2;

  --red-700: #9D1007;
  --red-500: #c9352d;
  --red-300: #F5746C;

  --yellow-700: #925f00;
  --yellow-500: #bc8401;
  --yellow-300: #d8c25e;

  --blue-700: #0058AC;
  --blue-500: #0D77DD;
  --blue-300: #5caffd;

  --cornflower-blue-300: #8198db;

  --green-700: #1cb358;
  --green-500: #39df7b;
  --green-300: #47F58C;
}

body {
  background-color: var(--dark-purple-800);
}

p,
label,
input,
a,
span,
li,
h1 {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

button,
h5 {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.table-artech {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  thead {
    color: var(--dark-purple-500);
    font-size: 0.825rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: left;
    th.action {
      width: 8rem;
    }
    th {
      padding: 1rem 0;
    }
  }
  tbody {
    color: var(--dark-purple-100);
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    text-align: left;
    td {
      padding: 2rem 2rem 2rem 0;
    }
    td.action {
      padding: 2rem 0.5rem;
    }
  }

  td, th {
    border-bottom: 3px solid var(--dark-purple-800);
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 660px;
  padding: 0 0.75rem;
  @media (min-width: 764px) {
    max-width: 660px;
    padding: 0;
  }
  @media (min-width: 880px) {
    max-width: 764px;
    padding: 0;
  }
  @media (min-width: 992px) {
    max-width: 880px;
    padding: 0;
  }
  @media (min-width: 1080px) {
    max-width: 992px;
    padding: 0;
  }
  @media (min-width: 1180px) {
    max-width: 1080px;
    padding: 0;
  }
  @media (min-width: 1280px) {
    max-width: 1180px;
    padding: 0;
  }
}
